<ActionBar title="Filter" class="action-bar">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
    <Label class="action-bar-title" text="Filter"></Label>
</ActionBar>

<StackLayout orientation="vertical" margin="10">
        <Label text="Filter the map markers" horizontalAlignment="center" class="join-header"></Label>
        <GridLayout columns="*, *" rows="20, 40" width="100%" height="80">
            <Label text="Price " row="0" col="0" colSpan="1" horizontalAlignment="left" class="sub-header"></Label>
            <Button text="{{minPrice !== null ? '£' + minPrice : 'Min'}} &#xf0d7;" class="fas" col="0" row="1" (tap)="showPriceDialogue(false)"></Button>
            <Button text="{{maxPrice !== null ? '£' + maxPrice : 'Max'}} &#xf0d7;" class="fas" col="1" row="1" (tap)="showPriceDialogue(true)"></Button>
        </GridLayout>
        <GridLayout columns="*, *" rows="20, 40" width="100%" height="80">
            <Label text="Bedrooms " row="0" col="0" colSpan="1" horizontalAlignment="left" class="sub-header"></Label>
            <Button text="{{minBed !== null ? minBed : 'Min'}} &#xf0d7;" class="fas" col="0" row="1" (tap)="showCountDialogue('Beds', false)"></Button>
            <Button text="{{maxBed !== null ? maxBed : 'Max'}} &#xf0d7;" class="fas" col="1" row="1" (tap)="showCountDialogue('Beds', true)"></Button>
        </GridLayout>
        <GridLayout columns="*, *" rows="20, 40" width="100%" height="80">
            <Label text="Bathrooms " row="0" col="0" colSpan="1" horizontalAlignment="left" class="sub-header"></Label>
            <Button text="{{minBath !== null ? minBath : 'Min'}} &#xf0d7;" class="fas" col="0" row="1" (tap)="showCountDialogue('Baths', false)"></Button>
            <Button text="{{maxBath !== null ? maxBath : 'Max'}} &#xf0d7;" class="fas" col="1" row="1" (tap)="showCountDialogue('Baths', true)"></Button>
        </GridLayout>
        <GridLayout columns="*, *" rows="20, 40" width="100%" height="80">
            <Label text="Rooms " row="0" col="0" colSpan="1" horizontalAlignment="left" class="sub-header"></Label>
            <Button text="{{minRoom !== null ? minRoom : 'Min'}} &#xf0d7;" class="fas" col="0" row="1" (tap)="showCountDialogue('Rooms', false)"></Button>
            <Button text="{{maxRoom !== null ? maxRoom : 'Max'}} &#xf0d7;" class="fas" col="1" row="1" (tap)="showCountDialogue('Rooms', true)"></Button>
        </GridLayout>
        <Button text="Apply filter to the map" class="submitBtn" (tap)="filterMap()"></Button>
</StackLayout>