<ActionBar title="Filter" class="action-bar">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
    <Label class="action-bar-title" text="Filter"></Label>
</ActionBar>
<StackLayout orientation="vertical" [formGroup]="filterForm">
       <TextField formControlName="minPrice" hint="Min Price" keyboardType="number"></TextField>
       <TextField formControlName="maxPrice" hint="Max Price" keyboardType="number"></TextField>
       <TextField formControlName="minBed" hint="Min Bed Count" keyboardType="number"></TextField>
       <TextField formControlName="maxBed" hint="Max Bed Count" keyboardType="number"></TextField>
       <TextField formControlName="minBath" hint="Min Bathroom Count" keyboardType="number"></TextField>
       <TextField formControlName="maxBath" hint="Max Bathroom Count" keyboardType="number"></TextField>
       <TextField formControlName="minRoom" hint="Min Room Count" keyboardType="number"></TextField>
       <TextField formControlName="maxRoom" hint="Max Room Count" keyboardType="number"></TextField>
       <TextField formControlName="tags" hint="Tags"></TextField>
       <Button text="Filter" (tap)="filterMap()"></Button>
</StackLayout>