.textarea {
    background-color: transparent;
    border-color: transparent;
    margin: 0 5;
}

.price-area {
    border-color: #3F51B5;
}

.my-button {
    background-color: #3F51B5;
    color: white;
}

.green {
    background-color: #4CAF50;
}

.red {
    background-color: #F44336; 
}

.my-button:active {
    background-color: lightslategray;
    color:white;
}

.form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
  }

  .join-header {
    font-size: 24px;
    color: black;

}

.join-subheader {
    font-size: 16px;
    color: #707070;
    font-style: italic;
}

Button {
    background-color: white;
    color: #555;
    margin: 10px 0px 5px 0px;
}

.sub-header {
    font-size: 17px;
    color: #555;
    font-style: italic;
}