<ActionBar title="Create Account" class="action-bar">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
    <Label class="action-bar-title" text="Create Account"></Label>
</ActionBar>
<StackLayout orientation="vertical" *ngIf="createForm !== null" margin="20">
        <Label text="Join Habitapp today!" horizontalAlignment="center" class="join-header"></Label>
        <TextView editable="false" style=" background-color: transparent;
        border-color: transparent;">
            <FormattedString>
                <Span text="And join a growing community of first time buyers, property investors and portfolio builders!" horizontalAlignment="center" class="join-subheader"></Span>
            </FormattedString>
        </TextView>
    <StackLayout orientation="vertical" [formGroup]="createForm">
        <TextField formControlName="username" hint="Username"></TextField>
        <Label class="action-bar-title" text="Must have a value!" *ngIf="username.invalid && username.touched" style="color:red;font-style:italic;"></Label>
        
        <TextField formControlName="password" hint="Password" secure="true"></TextField>
        <Label class="action-bar-title" text="Must have a value!" *ngIf="password.invalid && password.touched" style="color:red;font-style:italic;"></Label>

        <TextField formControlName="confirmPassword" hint="Confirm Password" secure="true"></TextField>
        <Label  class="action-bar-title" text="Passwords must match!" 
                *ngIf="createForm.value.password !== createForm.value.confirmPassword && confirmPassword.touched" 
                style="color:red;font-style:italic;"></Label>

        <Button text="Create Account" [disabled]="createForm.invalid" (tap)="create()"></Button>
    </StackLayout>
</StackLayout>