<ScrollView sdkExampleTitle sdkToggleNavButton >
    <StackLayout margin="10">
        <Label text='Welcome to HabitApp' textAlignment="center" class="m-15 h2" textWrap="true"></Label>
        <Label text="The Future of Property Investment!" textAlignment="center" textWrap="true"></Label>

        <GridLayout     rows="*, *, *, *, *, *, *, *" 
                        columns="*" margin="10">
            <Label text="&#xf25a;" color="#3d5afe" fontSize="20" class="far" textAlignment="center" col="0" row="0" margin="10 0 5 0"></Label>
            <Label text="To load more markers, tap and hold on the map." color="" col="0" colSpan="2" row="1" textWrap="true"></Label>

            <Label text="&#xf0b0;" color="#3d5afe" fontSize="20" class="fas" textAlignment="center" col="0" row="2" margin="10 0 5 0"></Label>
            <Label text="Clicking the Filter View button will allow you to filter the map by price, bedroom count and more." color="" col="0" colSpan="2" row="3" textWrap="true"></Label>

            <Label text="&#xf124;" color="#3d5afe" fontSize="20" class="fas" textAlignment="center" col="0" row="4" margin="10 0 5 0"></Label>
            <Label text="Clicking the Current button will re-locate the map to your location, if you've allowed access to your phone's GPS. " color="" col="0" colSpan="2" row="5" textWrap="true"></Label>

            <Label text="&#xf1fe;" color="#3d5afe" fontSize="20" class="fas" textAlignment="center" col="0" row="6" margin="10 0 5 0"></Label>
            <Label text="Clicking the Area View button will take the center of the map and load the area statistics for that area." color="" col="0" colSpan="2" row="7" textWrap="true"></Label>
            
        </GridLayout>
    </StackLayout>
</ScrollView>
