<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Settings"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <GridLayout rows="auto auto auto auto" columns="* *" class="m-5">
        <Label text="Accesssibility" textWrap="true" row="0" colSpan="2" class="m-l-5 font-weight-bold m-t-4"></Label>
        <StackLayout class="hr-light m-y-10" row="1" colSpan="2"></StackLayout>
        <Label text="Larger Font Size" textWrap="true" row="2" col="0" class="m-l-5 m-y-10"></Label>
        <Switch [checked]="isLargerFontChecked" (checkedChange)="ToggleLargerFont($event)" row="2" col="1" class="m-r-2 m-y-10"></Switch>
        <Label text="Dyslexic Font" textWrap="true" row="3" col="0" class="m-l-5 m-y-10"></Label>
        <Switch [checked]="isFontFamilyChecked" (checkedChange)="ToggleDyslexicFont($event)" row="3" col="1" class="m-r-2 m-y-10"></Switch>
    </GridLayout>
</GridLayout>