<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="right">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>
    <Button class="btn btn-primary btn-active" id="button" text="Tap me!" (tap)="onTap($event)"></Button>
</ActionBar>

<GridLayout rows="*, auto">
    <StackLayout row="0" id="map" name="map" map>
        <Mapbox
            #map
            accessToken="{{ accessToken }}"
            mapStyle="LIGHT"
            latitude="{{ userLoc.lat > 0 ? userLoc.lat : 53.369690}}"
            longitude="{{ userLoc.long > 0 ? userLoc.lat : -1.491650}}"
            hideCompass="true"
            zoomLevel="13"
            showUserLocation="true"
            disableZoom="false"
            disableRotation="false"
            disableScroll="false"
            disableTilt="false"
            hideAttribution="true" 
            hideLogo="true" 
            (mapReady)="onMapReady($event)">
        </Mapbox>
    </StackLayout>
    <!-- <StackLayout row="1" orientation="horizontal" backgroundColor= #3F51B5>
       <Button text="Filter" 
                     width="33%"
                     height="60"
                     color= "White"
                     backgroundColor= #3F51B5>
       </Button>
       <Button text="Current Location" 
                     width="33%"
                     height="60"
                     color= "White"
                     backgroundColor= #3F51B5>
       </Button>
       <Button text="Statistics" 
                     width="33%"
                     height="60"
                     color= "White"
                     backgroundColor= #3F51B5>
       </Button>
</StackLayout> -->
</GridLayout>