<ActionBar title="Search" class="action-bar">
       <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
       <Label class="action-bar-title" text="Search Properties"></Label>
   </ActionBar>
   <StackLayout orientation="vertical" [formGroup]="searchForm">
          <TextField formControlName="postcode" hint="Postcode"></TextField>
          <TextField formControlName="minPrice" hint="Min Price" keyboardType="number"></TextField>
          <TextField formControlName="maxPrice" hint="Max Price" keyboardType="number"></TextField>
          <TextField formControlName="houseType" hint="House Type"></TextField>
          <TextField formControlName="bedCount" hint="Bedroom Count" keyboardType="number"></TextField>
          <Button text="Search" (tap)="searchProperties()"></Button>
   </StackLayout>