<ActionBar title="Search" class="action-bar">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>
<StackLayout class="form">
       <StackLayout class="input-field">
              <TextField class="input" hint="Postcode"></TextField>
       </StackLayout>   
       <StackLayout class="input-field">
              <TextField class="input" hint="Minimum Price" keyboardType="number"></TextField>
       </StackLayout>
       <StackLayout class="input-field">
              <TextField class="input" hint="Maximum Price" keyboardType="number"></TextField>
       </StackLayout>
       <StackLayout class="input-field">
              <TextField class="input" hint="House Type"></TextField>
       </StackLayout>
       <StackLayout class="input-field">
              <TextField class="input" hint="Bedroom Count"></TextField>
       </StackLayout>
       <Button text="Search" 
              width="100%"
              height="60">
       </Button>
</StackLayout>