.list-group {
    background-color: white;
}

.card {
    border-color: #ff8a50;
    border-radius: 20px;
    border-width: 1 1 1 1;
}

.list-group {
    background-color: white;
    border-color: white;
}