<ActionBar class="action-bar">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()" class="titleFont"></NavigationButton>
    <Label class="action-bar-title" text="Property"></Label>
</ActionBar>
<FAB (tap)="saveProperty(property)" rippleColor="#f1f1f1" row="1" class="fab-button"
    *ngIf="!isList && isLoggedIn" horizontalAlignment="right">
</FAB> 
<GridLayout class="page"  *ngIf="!isList" >
    <ScrollView #scrollView (scroll)="onScroll($event, scrollView, topView)">
        <StackLayout>
            <StackLayout #topView height="250" style="background-image: url('{{property.propertyImageUrl}}'); background-repeat: no-repeat; background-position: center; background-size: cover;">
                <Label  text="{{property.isForSale ? 'For sale' : 'For rent'}}"
                        class="forSale" 
                        textAlignment="right" 
                        width=""
                        horizontalAlignment="right" 
                        marginTop="10"></Label>
            </StackLayout>
            <StackLayout width="100%" backgroundColor="white" padding="10"class="border">
                
                <TextView editable="false"style="background-color: transparent;
                        border-color: transparent;">
                    <Span text="&#xf5a0; {{property.fullAddress}}" class="fas" fontWeight="300"
                        fontSize="14" color="#707070" ></Span>
                </TextView>
                <TextView editable="false" class="price-area" style="border-color: #707070;">
                    <Span text="{{property.price}}" fontWeight="Bold"
                        fontSize="36"></Span>
                </TextView>
                <Label text="STATS" margin="10"></Label>
                    <Label  *ngFor="let stat of stats"
                            text="{{stat.value}} {{ stat.name }}" 
                            textAlignment="left"
                            margin="10" 
                            class="stats"></Label>

                <Label text="TAGS" margin="10"></Label>
                <Label  *ngFor="let tag of property.tags"
                        text="{{tag}}" 
                        textAlignment="left"
                        margin="10" 
                        class="stats"></Label>
                <Button text="ADD" margin="10" *ngIf="isLoggedIn"></Button>
                <TextView editable="true" class="comment" margin="10 0 60 0" *ngIf="isLoggedIn">
                </TextView>
                <Label text="COMMENTS" margin="10" *ngIf="isLoggedIn"></Label>
                <TextView editable="false" class="comment" margin="10 0 60 0" *ngIf="isLoggedIn">
                    <Span text="13/08/19" fontWeight="300"
                        fontSize="12" color="#707070" ></Span>
                    <Span text="&#xA;&#xA;" class="fas" fontWeight="300"
                        fontSize="14" color="black" ></Span>
                    <Span text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ex diam, volutpat id mattis sit amet, feugiat quis felis. Curabitur nisl mi, egestas eu odio eu, rutrum fringilla mi. Donec ullamcorper sem vitae sagittis ornare. Proin quis vehicula diam. Etiam blandit ex arcu. Nulla ullamcorper augue quis erat porttitor, nec molestie mi volutpat. Aliquam eu sem ante. Donec a mollis quam. Donec aliquam venenatis sem, sed posuere dolor. Maecenas ut consectetur eros, nec rutrum mi. Duis iaculis elit ut magna pulvinar sollicitudin. Phasellus eget commodo nunc. In auctor ex eget cursus consequat. Donec in dolor efficitur tellus pretium mattis ac ac mi. Vestibulum interdum vehicula volutpat. Aliquam iaculis nibh sed nunc placerat aliquet. }" fontWeight="300"
                        fontSize="14" color="black" ></Span>
                </TextView>
                
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>
<StackLayout orientation="vertical" width="100%" height="100%"
    backgroundColor="white" *ngIf="isList">
    <StackLayout orientation="vertical" width="100%" height="100%"
    backgroundColor="white" *ngIf="propertyList.length > 0">
        <TextView editable="false" class="textarea">
            <Span text="Found {{ propertyList.length }} properties at this marker!"
                margin="1 10" fontSize="22" class="titleFont"></Span>
        </TextView>
        <ListView class="list-group" [items]="propertyList" (itemTap)="onItemTap($event)"
            style="height:100%;" verticalAlignment="center">
            <ng-template let-item="item">
                <FlexboxLayout flexDirection="row" class="list-group-item">
                    <Image [src]="item.propertyThumbUrl" class="thumb img-circle"></Image>
                    <Label [text]="item.fullAddress" class="list-group-item-heading paragraphText"
                        style="width: 60%" textWrap="true"></Label>
                </FlexboxLayout>
            </ng-template>
        </ListView>
    </StackLayout>
    <ActivityIndicator [busy]="isBusy" class="activity-indicator" margin="15 0 0 0" *ngIf="propertyList.length === 0"></ActivityIndicator>
</StackLayout>