<ActionBar class="action-bar">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()" class="titleFont"></NavigationButton>
    <Label class="action-bar-title" text="Property"></Label>
</ActionBar>
<FAB (tap)="saveProperty(property)" rippleColor="#f1f1f1" row="1" class="fab-button"
    *ngIf="!isList" horizontalAlignment="right">
        <Label col="0" text="&#xf0ca;" class="fas"></Label>
</FAB>
<GridLayout class="page"  *ngIf="!isList" >
    <ScrollView #scrollView (scroll)="onScroll($event, scrollView, topView)">
        <StackLayout>
            <StackLayout #topView height="250" style="background-image: url('{{property.propertyImageUrl}}'); background-repeat: no-repeat; background-position: center; background-size: cover;">
                <Label text="{{property.isForSale ? 'For sale' : 'For rent'}}"
                    class="forSale" textAlignment="right" width=""
                    horizontalAlignment="right" marginTop="10"></Label>
            </StackLayout>
            <StackLayout width="100%" backgroundColor="white" padding="10"class="border">
                <TextView editable="false"style="background-color: transparent;
                        border-color: transparent;">
                    <Span text="&#xf5a0; {{property.fullAddress}}" class="fas" fontWeight="300"
                        fontSize="14" color="#707070" ></Span>
                </TextView>
                <TextView editable="false" class="price-area" style="border-color: #707070;">
                    <Span text="{{property.price}}" fontWeight="Bold"
                        fontSize="36"></Span>
                </TextView>
                <Label text="STATS" margin="10"></Label>
                <Label text="{{property.bedroomNumber}} Beds" textAlignment="left"
                    margin="10" class="stats"></Label>
                <Label text="{{property.bedroomNumber}} Parking Spaces" textAlignment="left"
                    margin="10" class="stats"></Label>
                <Label text="{{property.bedroomNumber}} Bathrooms" textAlignment="left"
                    margin="10" class="stats"></Label>

                <Label text="TAGS" margin="10"></Label>
                    <ScrollView orientation="horizontal">
                        <GridLayout class="m-15" columns="auto auto auto auto auto auto">
                            <Label  width="auto" 
                                    textAlignment="center"
                                    *ngFor="let item of property.tags; let i = index" 
                                    text="{{item}}" 
                                    height="30" 
                                    class="h3 m-15 pill" 
                                    col="{{i}}"></Label>
                        </GridLayout>
                    </ScrollView>

                <Label text="COMMENTS" margin="10"></Label>
                <ListView class="list-group" [items]="property.tags" (itemTap)="onItemTap($event)"
                    style="height:1250px">
                    <ng-template let-country="item">
                        <FlexboxLayout flexDirection="row" class="list-group-item">
                            <Label [text]="country" class="list-group-item-heading"
                                verticalAlignment="center" style="width: 60%"></Label>
                        </FlexboxLayout>
                    </ng-template>
                </ListView>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>
<StackLayout orientation="vertical" width="100%" height="100%"
    backgroundColor="white" *ngIf="isList">
    <StackLayout orientation="vertical" width="100%" height="100%"
    backgroundColor="white" *ngIf="propertyList.length > 0">
        <TextView editable="false" class="textarea">
            <Span text="Found {{ propertyList.length }} properties at this marker!"
                margin="1 10" fontSize="22" class="titleFont"></Span>
        </TextView>
        <ListView class="list-group" [items]="propertyList" (itemTap)="onItemTap($event)"
            style="height:100%;" verticalAlignment="center">
            <ng-template let-item="item">
                <FlexboxLayout flexDirection="row" class="list-group-item">
                    <Image [src]="item.propertyThumbUrl" class="thumb img-circle"></Image>
                    <Label [text]="item.fullAddress" class="list-group-item-heading paragraphText"
                        style="width: 60%" textWrap="true"></Label>
                </FlexboxLayout>
            </ng-template>
        </ListView>
    </StackLayout>
    <ActivityIndicator [busy]="isBusy" class="activity-indicator" margin="15 0 0 0" *ngIf="propertyList.length === 0"></ActivityIndicator>
</StackLayout>